@import "../../../assets/styles/_index.scss";
@import "../../../assets/styles/_variables.scss";

.todo {
    margin-bottom: 150px;

    @include md {
        margin-bottom: 75px;
    }
    &__item {
        padding: 12px;
        background-color: $todo__item-background-color;
    }

    &__list {
        @include gridLayout(grid, 4, space-between, flex-start, 16px);
        margin-top: 30px;
        grid-template-columns: repeat(4, 1fr);

        @include defaultMediaQuery(1230px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include sm {
            grid-template-columns: 1fr;
        }
    }

    &__top {
        margin-bottom: 25px;
        @include flexLayout(flex, space-between, center, 0, row nowrap);
        &-heading {
            @include headingFonts(
                $header__background-color,
                16px,
                600,
                20.8px,
                none
            );
        }

        &-btn {
            @include flexLayout(flex, center, center, 0, row nowrap);
            @include Button(
                $header__text-color,
                1px solid $header__text-color,
                4px,
                8px,
                none
            );
        }
    }

    &__cards {
        width: 100%;
        margin-bottom: 12px;
        @include flexLayout(flex, flex-start, flex-start, 12px, column nowrap);
    }

    &__card {
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        background-color: $header__text-color;
        box-shadow: 0px 4px 24px 0px $card__shadow-color;

        &-title {
            margin-bottom: 6px;
            @include headingFonts(
                $header__background-color,
                16px,
                600,
                20.8px,
                none
            );
        }

        &-text {
            line-clamp: 2;
            overflow: hidden;
            margin-bottom: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include headingFonts($tab__text-color, 12px, 400, 19.2px, none);
        }
    }

    &__footer {
        @include flexLayout(flex, space-between, center, 0, row nowrap);

        &-span {
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-block;
            background-color: $editor__background-color;
            @include headingFonts($editor-color, 10px, 400, 16px, none);

            &--medium {
                background-color: $todo__item-second-color;
            }

            &--red {
                background-color: $todo__third-background-color;
            }
        }

        &-date {
            @include headingFonts($tab__text-color, 12px, 400, 19.2px, none);
        }
    }

    &-add {
        border: none;
        background-color: transparent;
        @include flexLayout(flex, flex-start, center, 6px, row nowrap);
    }

    &-add-icon {
        width: 10px;
        height: 10px;
    }

    &-add-text {
        @include headingFonts($button__active-color, 14px, 500, 19.6px, none);
    }
}
