.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &_content {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .content_header {
            margin-bottom: 24px;

            &-logo {
                display: flex;
                align-items: center;
                column-gap: 15px;
                width: max-content;
                margin-inline: auto;
                margin-bottom: 12px;

                &-img {
                    width: 33px;
                    height: 33px;
                }

                & > span {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
    }
}

.login_form-info {
    margin: 0 auto;
    text-align: center;

    &-title {
        font-size: 32px;
        line-height: 42px;
        margin-block: 0;
    }

    &-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #475467;
    }
}

.login_form {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-input {
        background-color: #f4f5f7;
        width: 100%;
        border-radius: 6px;
        padding: 14px 12px;
        border: none;

        &::placeholder {
            font-size: 14px;
            line-height: 22px;
        }

        &:focus {
            outline: 1px solid #5847f1;
        }
    }

    &-submit {
        border: none;
        color: #ffffff;
        padding-block: 14px;
        border-radius: 4px;
        border: 1px solid #5847f1;
        transition: 0.4s;
        font-weight: 500;
        background-color: #5847f1;
        font-size: 16px;

        &:hover {
            background-color: #ffffff;
            color: #5847f1;
            cursor: pointer;
        }
    }

    &-footer {
        text-align: center;

        & > span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

        & > a {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #5847f1;
            text-decoration: none;
        }
    }
}
