// *:focus {
//   outline-width: 3px;
//   outline-offset: 3px;
//   outline-style: dotted;
//   outline-color: #1f2633;
// }

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
