// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$delete-color: #ea5045;
$editor-color: #303240;
$primary-color: #ffffff99;
$tab__text-color: #475467;
$tab__border-color: #ebebeb;
$header__text-color: #ffffff;
$input__border-color: #000000;
$button__active-color: #5847f1;
$card__shadow-color: #0000000a;
$todo__item-second-color: #ffedc9;
$editor__background-color: #c1e288;
$header__background-color: #202022;
$modal__background-color: #0000004d;
$todo__item-background-color: #f4f5f7;
$todo__third-background-color: #fbb6b6;
